<body>
  <h1>Students</h1>
  <ul>
    <% students.forEach(student => { %>
      <li>
				<%= student.text %> 
				- 
				<%= student.done ? 'done' : 'not done' %>
			</li>
    <% }) %>
  </ul>
</body>